body{
    background-color: #f7f7f7;
}

h2{
padding-top: 10px;
 margin: auto;
 text-align: center;
}

h3{
  margin: auto;
  text-align: center;
  }

footer{
  color: black;
  padding: 3px 5px;
  text-align: center;
  
}
